<template>
  <div class="about">
    <v-card>
      <v-card-text
        :dir="$store.getters.textDirection"
        :reverse="$root.$i18n.locale === 'ar'"
        class="about"
      >
        {{ $t("message.textAboutPage") }}
      </v-card-text>
    </v-card>
  </div>
</template>

<script>
export default {
  created() {
    document.title = "DZ deals";
  }
};
</script>

<style scoped>
.about {
  text-align: justify;
}
</style>
