<template>
  <v-container v-if="$store.getters.isUserLogged">
    <v-card class="animate__animated animate__fadeInUp">
      <v-card-title :dir="$store.getters.textDirection">
        <v-icon class="mr-1 ml-1">mdi-bullhorn</v-icon
        >{{ $t("message.createNewAdvertisement") }}</v-card-title
      >
      <v-card-text>
        <v-form :valid="valid" ref="formAdvertisement" lazy-validation>
          <v-container>
            <v-row>
              <v-col cols="12" md="6">
                <v-text-field
                  :counter="50"
                  :reverse="$root.$i18n.locale === 'ar'"
                  :label="$t('message.advertisementTitle')"
                  required
                  v-model="title"
                  append-icon="mdi-bullhorn"
                  :rules="[
                    v => !!v || $t('message.itemIsRequired'),
                    v =>
                      (v && v.length <= 50) || $t('message.textExceededLength')
                  ]"
                  :hint="$t('message.itemIsRequired')"
                  persistent-hint
                ></v-text-field>
              </v-col>

              <v-col cols="12" md="3">
                <v-text-field
                  :counter="50"
                  :reverse="$root.$i18n.locale === 'ar'"
                  :label="$t('message.oldPrice')"
                  required
                  v-model="oldPrice"
                  append-icon="mdi-currency-usd-off"
                  type="number"
                  :rules="[
                    v => !!v || $t('message.itemIsRequired'),
                    v =>
                      (v && v.length <= 10) || $t('message.textExceededLength')
                  ]"
                  :hint="$t('message.itemIsRequired')"
                  persistent-hint
                ></v-text-field>
              </v-col>

              <v-col cols="12" md="3">
                <v-text-field
                  v-model="newPrice"
                  :counter="50"
                  :label="$t('message.newPrice')"
                  :reverse="$root.$i18n.locale === 'ar'"
                  append-icon="mdi-currency-usd"
                  type="number"
                  :rules="[
                    v => !!v || $t('message.itemIsRequired'),
                    v =>
                      (v && v.length <= 10) || $t('message.textExceededLength')
                  ]"
                  :hint="$t('message.itemIsRequired')"
                  persistent-hint
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row>
              <v-col cols="12" md="3">
                <v-combobox
                  v-model="category"
                  :items="categoryItems"
                  :label="$t('message.category')"
                  append-icon="mdi-shape-outline"
                  :reverse="$root.$i18n.locale === 'ar'"
                  required
                  :rules="[v => !!v || $t('message.itemIsRequired')]"
                ></v-combobox>
              </v-col>
              <v-col cols="12" md="3">
                <v-menu
                  v-model="datePickerMenu"
                  :close-on-content-click="false"
                  :nudge-right="40"
                  transition="scale-transition"
                  offset-y
                  min-width="auto"
                >
                  <template v-slot:activator="{ on, attrs }">
                    <v-text-field
                      :reverse="$root.$i18n.locale === 'ar'"
                      :rules="[v => !!v || $t('message.itemIsRequired')]"
                      v-model="expireDate"
                      :label="$t('message.expireDate')"
                      append-icon="mdi-timer-sand"
                      readonly
                      v-bind="attrs"
                      v-on="on"
                    ></v-text-field>
                  </template>
                  <v-date-picker
                    :locale="$root.$i18n.locale"
                    v-model="expireDate"
                    @input="datePickerMenu = false"
                    :min="moment().format('YYYY-MM-DD')"
                  ></v-date-picker>
                </v-menu>
              </v-col>
            </v-row>
          </v-container>

          <br />

          <v-expansion-panels>
            <v-expansion-panel>
              <v-expansion-panel-header>
                <span
                  ><v-icon>mdi-plus-box-multiple-outline</v-icon>
                  {{ $t("message.addMoreInformation") }}
                </span>
              </v-expansion-panel-header>
              <v-expansion-panel-content>
                <v-row>
                  <v-col>
                    <v-file-input
                      :dir="$store.getters.textDirection"
                      :label="$t('message.filesPlaceholder')"
                      :reverse="$root.$i18n.locale === 'ar'"
                      append-icon="mdi-folder-multiple-image"
                      chips
                      counter="3"
                      :rules="[
                        v => (v && v.length < 4) || $t('message.imagesErrorMsg')
                      ]"
                      hint="png, jpg"
                      multiple
                      persistent-hint
                      v-model="pictures"
                    ></v-file-input>
                  </v-col>
                </v-row>
                <v-row>
                  <v-col>
                    <v-textarea
                      :counter="500"
                      :rules="[
                        v => v.length < 500 || $t('message.textExceededLength')
                      ]"
                      :dir="$store.getters.textDirection"
                      :reverse="$root.$i18n.locale === 'ar'"
                      :label="$t('message.advertisementDescription')"
                      v-model="description"
                      append-icon="mdi-book-open-outline"
                    ></v-textarea>
                  </v-col>
                </v-row>
                <v-row>
                  <v-col cols="12" md="6">
                    <v-text-field
                      v-model="companyName"
                      :counter="50"
                      :label="$t('message.companyName')"
                      :reverse="$root.$i18n.locale === 'ar'"
                      append-icon="mdi-domain"
                      :rules="[
                        v => v.length <= 50 || $t('message.textExceededLength')
                      ]"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12" md="6">
                    <v-text-field
                      :counter="50"
                      v-model="phoneNumber"
                      :label="$t('message.phoneNumber')"
                      :reverse="$root.$i18n.locale === 'ar'"
                      append-icon="mdi-phone"
                      :rules="[
                        v => v.length <= 50 || $t('message.textExceededLength')
                      ]"
                    ></v-text-field>
                  </v-col>
                </v-row>

                <v-row>
                  <v-col cols="12">
                    <v-text-field
                      :counter="300"
                      v-model="companyAddress"
                      :label="$t('message.companyAddress')"
                      :reverse="$root.$i18n.locale === 'ar'"
                      append-icon="mdi-map-marker-outline"
                      :rules="[
                        v => v.length <= 300 || $t('message.textExceededLength')
                      ]"
                    ></v-text-field>
                  </v-col>
                </v-row>

                <v-row>
                  <v-col cols="12" md="4">
                    <v-text-field
                      :counter="50"
                      v-model="advertisementLink"
                      :label="$t('message.advertisementLink')"
                      :reverse="$root.$i18n.locale === 'ar'"
                      append-icon="mdi-link"
                      :rules="[
                        v => v.length <= 200 || $t('message.textExceededLength')
                      ]"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12" md="4">
                    <v-text-field
                      :counter="50"
                      v-model="codePromo"
                      :label="$t('message.codePromo')"
                      :reverse="$root.$i18n.locale === 'ar'"
                      append-icon="mdi-ticket"
                      :rules="[
                        v => v.length <= 50 || $t('message.textExceededLength')
                      ]"
                      required
                    ></v-text-field>
                  </v-col>

                  <v-col cols="12" md="4">
                    <div
                      :class="
                        $store.getters.textDirection === 'rtl'
                          ? 'float-right'
                          : ''
                      "
                    >
                      <span class="d-flex">
                        <v-switch
                          inset
                          color="success"
                          v-model="delivery"
                          :label="$t('message.delivery')"
                        >
                        </v-switch>
                        <v-icon class="ml-2" color="green"
                          >mdi-truck-delivery</v-icon
                        >
                      </span>
                    </div>
                  </v-col>
                </v-row>
              </v-expansion-panel-content>
            </v-expansion-panel>
          </v-expansion-panels>

          <br />
          <div class="d-flex justify-center">
            <v-btn
              color="teal lighten-1"
              @click="createAdvertisement"
              :loading="loading"
            >
              {{ $t("message.createAdvertisement") }}
            </v-btn>
          </div>
        </v-form>
      </v-card-text>
    </v-card>
    <br />
  </v-container>
</template>

<script>
import gql from "graphql-tag";
import moment from "moment";

export default {
  name: "AddAdvertisement",
  data() {
    return {
      advertisementLink: "",
      category: undefined,
      codePromo: "",
      companyAddress: "",
      companyName: "",
      delivery: false,
      description: "",
      expireDate: undefined,
      loading: false,
      newPrice: "",
      oldPrice: "",
      phoneNumber: "",
      title: undefined,
      valid: true,
      pictures: undefined
    };
  },
  methods: {
    async createAdvertisement() {
      const isValid = this.$refs.formAdvertisement.validate();
      let createdAdvertisementId = undefined;
      if (isValid) {
        this.loading = true;
        await this.$apollo
          .mutate({
            mutation: gql`
              mutation($input: createAdvertisementInput!) {
                createAdvertisement(input: $input) {
                  advertisement {
                    id
                  }
                }
              }
            `,
            // Parameters
            variables: {
              input: {
                data: {
                  advertisementLink: this.advertisementLink,
                  title: this.title,
                  oldPrice: Number(this.oldPrice),
                  newPrice: Number(this.newPrice),
                  description: this.description,
                  delivery: this.delivery,
                  companyName: this.companyName,
                  codePromo: this.codePromo,
                  textDirection: this.$store.getters.textDirection,
                  phoneNumber: this.phoneNumber,
                  expireDate: this.expireDate,
                  companyAddress: this.companyAddress,
                  user: Number(this.$store.state.loggedUserId),
                  category: this.category.value
                }
              }
            }
          })
          .then(mutaionPayload => {
            createdAdvertisementId =
              mutaionPayload.data.createAdvertisement.advertisement.id;

            if (this.pictures) {
              this.$apollo
                .mutate({
                  mutation: gql`
                    mutation(
                      $refId: ID
                      $ref: String
                      $field: String
                      $files: [Upload]!
                    ) {
                      multipleUpload(
                        files: $files
                        ref: $ref
                        refId: $refId
                        field: $field
                      ) {
                        id
                      }
                    }
                  `,
                  // Parameters
                  variables: {
                    files: this.pictures,
                    ref: "Advertisement",
                    refId: createdAdvertisementId,
                    field: "pictures"
                  }
                })
                .then(() => {
                  this.$store.commit("notificate", {
                    type: "success",
                    msg: this.advertisementSuccessMsg
                  });
                  this.$router.push("/myAdvertisements");
                  this.loading = false;
                })
                .catch(() => {
                  this.$store.commit("notificate", {
                    type: "error",
                    msg: this.somethingWentWrongMsg
                  });
                  this.loading = false;
                });
            } else {
              this.$store.commit("notificate", {
                type: "success",
                msg: this.advertisementSuccessMsg
              });
              this.$router.push("/myAdvertisements");
              this.loading = false;
            }
          })
          .catch(() => {
            this.$store.commit("notificate", {
              type: "error",
              msg: this.somethingWentWrongMsg
            });
          });
      }
    }
  },
  computed: {
    advertisementSuccessMsg() {
      return this.$t("message.advertisementSuccessMsg");
    },
    somethingWentWrongMsg() {
      return this.$t("message.somethingWentWrong");
    },
    moment() {
      return moment;
    },
    categoryItems() {
      return [
        {
          text: this.$t("message.auto"),
          value: "auto"
        },
        {
          text: this.$t("message.cosmetics"),
          value: "cosmetics"
        },
        {
          text: this.$t("message.entertainment"),
          value: "entertainment"
        },
        {
          text: this.$t("message.fashion"),
          value: "fashion"
        },
        {
          text: this.$t("message.insurance"),
          value: "insurance"
        },
        {
          text: this.$t("message.diy"),
          value: "diy"
        },
        {
          text: this.$t("message.groceries"),
          value: "groceries"
        },
        {
          text: this.$t("message.hightech"),
          value: "hightech"
        },
        {
          text: this.$t("message.home"),
          value: "home"
        },
        {
          text: this.$t("message.mobile"),
          value: "mobile"
        },
        {
          text: this.$t("message.internet"),
          value: "internet"
        },
        {
          text: this.$t("message.services"),
          value: "services"
        },
        {
          text: this.$t("message.sport"),
          value: "sport"
        },
        {
          text: this.$t("message.travel"),
          value: "travel"
        },
        {
          text: this.$t("message.games"),
          value: "games"
        },
        {
          text: this.$t("message.other"),
          value: "other"
        }
      ];
    }
  },
  created() {
    if (!this.$store.getters.isUserLogged) {
      this.$store.commit("openLoginModal");
    }
  }
};
</script>
