<template>
  <div>
    <div>
      <AdvertisementSkeletonLoader
        v-if="$apollo.queries.advertisement.loading"
      />

      <v-card
        elevation="5"
        shaped
        class="animate__animated animate__fadeInUp mb-5"
        v-else
      >
        <v-row dense>
          <v-col xs="3" lg="2" md="2" cols="3">
            <v-img
              class="d-flex flex-no-wrap advertisement-img ml-1 card-image"
              :width="$store.getters.isMobile ? 80 : 140"
              :height="$store.getters.isMobile ? 80 : 140"
              :src="firstPicture"
              @click="displayImages = true"
            ></v-img>
          </v-col>
          <v-col xs="9" lg="10" md="10" cols="9">
            <div class="ml-5 mt-2">
              <div class="d-flex">
                <div class="advertisementTitle">
                  {{ advertisement.title }}
                  <div
                    v-if="advertisement.companyName"
                    :dir="$store.getters.textDirection"
                  >
                    <span class="font-weight-medium subtitle-2">
                      {{ $t("message.by") }}
                    </span>
                    <span class="caption mx-1">
                      {{ advertisement.companyName }}
                    </span>
                  </div>
                </div>
                <v-spacer></v-spacer>
                <div class="mr-3 grey--text">
                  <v-icon color="teal" small>mdi-timer-sand</v-icon>
                  {{ advertisementExpireDate }}
                </div>
              </div>

              <div>
                <span class="new-price font-weight-bold">
                  {{ advertisement.newPrice }} DZD
                </span>
                <span
                  class="old-price ma-2 animate__animated animate__flipInY animate__delay-1s"
                >
                  <del>{{ advertisement.oldPrice }} DZD</del>
                </span>

                <span v-if="advertisement.delivery">
                  <v-divider vertical class="divider"></v-divider>
                  <v-icon class="mx-3">
                    mdi-truck-delivery
                  </v-icon>
                </span>

                <span v-if="advertisement.codePromo">
                  <v-divider vertical class="divider mr-1"></v-divider>
                  <CodePromo
                    class="mx-3"
                    :codePromo="advertisement.codePromo"
                  />
                </span>

                <v-btn
                  v-if="
                    advertisement.advertisementLink && !$store.getters.isMobile
                  "
                  color="teal darken-1"
                  text
                  class="animate__animated animate__pulse"
                  :href="advertisement.advertisementLink"
                  target="_blank"
                  small
                >
                  {{ $t("message.seeAdvertisement") }}
                  <v-icon right dark>
                    mdi-eye
                  </v-icon>
                </v-btn>
              </div>
            </div>
          </v-col>
        </v-row>
        <v-row v-if="$store.getters.isMobile" dense>
          <v-col cols="3">
            <LikesDislikes
              :advertisementId="Number(advertisement.id)"
              :likesNumber="advertisement.likes"
              :dislikesNumber="advertisement.dislikes"
            />
          </v-col>
          <v-col cols="9">
            <v-btn
              v-if="advertisement.advertisementLink"
              color="teal darken-1"
              text
              class="animate__animated animate__pulse"
              :href="advertisement.advertisementLink"
              target="_blank"
              small
              block
            >
              {{ $t("message.seeAdvertisement") }}
              <v-icon right dark>
                mdi-eye
              </v-icon>
            </v-btn>
          </v-col>
        </v-row>

        <v-row dense v-if="advertisement.description" class="mt-5 mx-5">
          <v-col>
            {{ advertisement.description }}
          </v-col>
        </v-row>
        <Comments
          class="mt-5"
          :advertisementId="Number(advertisement.id)"
        ></Comments>
        <br />
      </v-card>
    </div>

    <div>
      <v-dialog v-model="displayImages" width="500">
        <v-carousel hide-delimiters>
          <v-carousel-item
            v-for="(picture, i) in pictures"
            :key="i"
            :src="picture.src"
          ></v-carousel-item>
        </v-carousel>
      </v-dialog>
    </div>
  </div>
</template>

<script>
import gql from "graphql-tag";
import LikesDislikes from "../components/LikesDislikes";
import moment from "moment";
import CodePromo from "../components/CodePromo";
import AdvertisementSkeletonLoader from "../components/AdvertisementSkeletonLoader";
import Comments from "../components/Comments";
import config from "../../config.json";

export default {
  components: {
    LikesDislikes,
    CodePromo,
    AdvertisementSkeletonLoader,
    Comments
  },
  data: () => ({
    displayImages: false
  }),
  computed: {
    advertisementExpireDate() {
      return moment(this.advertisement.expireDate).format("DD/MM/YYYY");
    },
    pictures() {
      if (this.advertisement.pictures) {
        return this.advertisement.pictures.map(picture => ({
          ...picture,
          src: `${config.apiUrl}${picture.url}`
        }));
      }
      return [];
    },
    firstPicture() {
      if (this.advertisement && this.advertisement.pictures.length > 0) {
        return this.pictures[0];
      }
      return require("@/assets/package.png");
    }
  },
  apollo: {
    advertisement: {
      query: gql`
        query advertisement($id: ID!) {
          advertisement(id: $id) {
            id
            title
            oldPrice
            newPrice
            codePromo
            expireDate
            delivery
            companyName
            likes
            dislikes
            advertisementLink
            description
            textDirection
            phoneNumber
            seenNumber
            companyAddress
            pictures {
              url
            }
          }
        }
      `,
      variables() {
        return {
          id: this.$route.params.id
        };
      }
    }
  },
  created() {
    document.title = "DZ deals";
  }
};
</script>

<style scoped>
.new-price {
  color: red;
  font-size: 20px;
}
.old-price {
  color: gray;
  font-size: 20px;
}
.divider {
  height: 20px;
  margin-top: 12px;
}
.advertisement-img {
  border-top-left-radius: 2em;
  border-top-right-radius: 2em;
  border-bottom-right-radius: 2em;
}
.advertisementTitle {
  font-weight: 500;
  font-size: 20px;
}
.card-image {
  cursor: pointer;
}
</style>
