<template>
  <v-container>
    <v-card :loading="loading">
      <v-card-text>
        <v-form ref="formCreateAccount" lazy-validation>
          <v-row>
            <v-col>
              <h2 class="text-weight-bold" :dir="$store.getters.textDirection">
                {{ $t("message.createAccount") }}
              </h2>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="12" md="4">
              <v-text-field
                :counter="50"
                v-model="pseudo"
                :label="$t('message.pseudo')"
                :reverse="$root.$i18n.locale === 'ar'"
                append-icon="mdi-account-outline"
                :rules="[
                  v => !!v || $t('message.itemIsRequired'),
                  v => v.length <= 50 || $t('message.textExceededLength')
                ]"
              ></v-text-field>
            </v-col>
            <v-col cols="12" md="4">
              <v-text-field
                :counter="50"
                v-model="email"
                :label="$t('message.email')"
                type="email"
                :reverse="$root.$i18n.locale === 'ar'"
                append-icon="mdi-email-outline"
                :rules="[
                  v => !!v || $t('message.itemIsRequired'),
                  v => /.+@.+/.test(v) || $t('message.emailMustBeValid')
                ]"
              ></v-text-field>
            </v-col>
            <v-col cols="12" md="4">
              <v-text-field
                :counter="50"
                v-model="password"
                :label="$t('message.password')"
                :reverse="$root.$i18n.locale === 'ar'"
                append-icon="mdi-lock-outline"
                type="password"
                :rules="[
                  v => !!v || $t('message.itemIsRequired'),
                  v => v.length <= 50 || $t('message.textExceededLength')
                ]"
                required
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row>
            <v-col class="text-center">
              <v-btn color="primary" width="200" @click="register">
                <v-icon class="mr-1">mdi-account-plus-outline</v-icon>
                {{ $t("message.createAccount") }}
              </v-btn>
            </v-col>
          </v-row>
        </v-form>
      </v-card-text>
    </v-card>
  </v-container>
</template>

<script>
import config from "../../config.json";

export default {
  name: "CreateUser",
  data() {
    return {
      pseudo: "",
      email: "",
      password: "",
      loading: false
    };
  },
  methods: {
    register() {
      const isValidate = this.$refs.formCreateAccount.validate();
      if (isValidate) {
        this.loading = true;
        return fetch(`${config.apiUrl}/auth/local/register`, {
          method: "POST",
          headers: {
            Accept: "application/json",
            "Content-Type": "application/json"
          },
          body: JSON.stringify({
            username: this.pseudo,
            email: this.email,
            password: this.password
          })
        })
          .then(async response => {
            // Handle success.
            const data = await response.json();
            localStorage.setItem("username", data.user.username);
            localStorage.setItem("userId", data.user.id);
            localStorage.setItem("userJwt", data.jwt);
            this.$store.commit("login", {
              loggedUsername: data.user.username,
              loggedUserId: data.user.id,
              loggedUserJwt: data.jwt
            });
            this.loading = false;
            this.$store.commit("notificate", {
              type: "success",
              msg: this.successMsg
            });
            this.$router.push("/");
          })
          .catch(error => {
            // Handle error.
            this.$store.commit("notificate", {
              type: "error",
              msg: this.errorMsg
            });
            this.loading = false;
            console.log("An error occurred:", error.response);
          });
      }
    }
  },
  computed: {
    successMsg() {
      return this.$t("message.registerSuccess");
    },
    errorsMsg() {
      return this.$t("message.somethingWentWront");
    }
  },
  created() {
    document.title = "DZ deals";
  }
};
</script>
