<template>
  <div>
    <AdvertisementsSkeletonLoader v-if="$apollo.loading" />

    <NoDeals
      v-else-if="
        !advertisements || (advertisements && advertisements.length === 0)
      "
    />

    <AdvertisementCard
      :key="advertisement.id"
      v-for="advertisement in advertisements"
      :advertisement="advertisement"
      v-else
    />

    <v-dialog v-model="infoDialog" width="500">
      <v-card :dir="$store.getters.textDirection">
        <v-card-text>
          <center>
            <img src="@/assets/logo.png" alt="logo" width="150" />
          </center>
          <h3>{{ $t("message.commercialUse") }}</h3>
        </v-card-text>

        <v-divider></v-divider>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="primary" text @click="infoDialog = false">
            {{ $t("message.approuve") }}
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import AdvertisementCard from "@/components/AdvertisementCard.vue";
import AdvertisementsSkeletonLoader from "@/components/AdvertisementsSkeletonLoader.vue";
import NoDeals from "@/components/NoDeals.vue";
import gql from "graphql-tag";

export default {
  name: "Home",
  components: { AdvertisementCard, AdvertisementsSkeletonLoader, NoDeals },
  data() {
    return {
      infoDialog: true
    };
  },
  apollo: {
    advertisements: {
      query: gql`
        query advertisements($sort: String!, $where: JSON) {
          advertisements(sort: $sort, where: $where) {
            id
            title
            oldPrice
            newPrice
            codePromo
            expireDate
            delivery
            companyName
            likes
            dislikes
            advertisementLink
            description
            textDirection
            phoneNumber
            seenNumber
            companyAddress
            pictures {
              url
            }
          }
        }
      `,
      variables() {
        return {
          sort: "created_at:desc",
          where: {
            isPublished: true,
            category:
              this.$store.state.adSelectedCategory === "all"
                ? undefined
                : this.$store.state.adSelectedCategory
          }
        };
      }
    }
  },
  created() {
    this.$apollo.queries.advertisements.refetch();
    document.title = "DZ deals";
  }
};
</script>
