<template>
  <div>
    <v-skeleton-loader
      class="mx-auto"
      type="table"
      v-if="$apollo.queries.advertisements.loading"
    ></v-skeleton-loader>

    <v-data-table
      :headers="headers"
      :items="advertisements"
      :items-per-page="5"
      class="elevation-1"
      v-else
    >
      <template v-slot:item.publishToggle="{ item }">
        <v-btn
          :loading="loading"
          v-if="item.isPublished"
          color="error"
          class="pubButton"
          @click="
            handleAdvertisementPub({
              advertisementId: item.id,
              isPublished: false
            })
          "
          >{{ $t("message.unpublish") }}</v-btn
        >
        <v-btn
          :loading="loading"
          class="pubButton"
          v-else
          color="teal"
          @click="
            handleAdvertisementPub({
              advertisementId: item.id,
              isPublished: true
            })
          "
          >{{ $t("message.publish") }}</v-btn
        >
      </template>
      <template v-slot:item.title="{ item }">
        <router-link
          :to="{
            name: 'Advertisement',
            params: { id: item.id }
          }"
        >
          {{ item.title }}</router-link
        >
      </template>
    </v-data-table>
  </div>
</template>

<script>
import gql from "graphql-tag";

export default {
  name: "MyAdvertisements",
  data() {
    return {
      loading: false,
      headers: [
        {
          text: this.$t("message.advertisementTitle"),
          value: "title"
        },
        { text: this.$t("message.expireDate"), value: "expireDate" },
        { text: "", value: "publishToggle", align: "right" }
      ]
    };
  },
  methods: {
    handleAdvertisementPub({ advertisementId, isPublished }) {
      this.loading = true;
      this.$apollo
        .mutate({
          mutation: gql`
            mutation($input: updateAdvertisementInput!) {
              updateAdvertisement(input: $input) {
                advertisement {
                  id
                  isPublished
                }
              }
            }
          `,
          // Parameters
          variables: {
            input: {
              where: {
                id: advertisementId
              },
              data: {
                isPublished
              }
            }
          }
        })
        .then(() => {
          this.loading = false;
        })
        .catch(error => {
          console.log(error);
          this.loading = false;
          this.$store.commit("notificate", {
            type: "error",
            msg: this.somethingWentWrongMsg
          });
        });
    }
  },
  apollo: {
    advertisements: {
      query: gql`
        query advertisements($sort: String!, $where: JSON!) {
          advertisements(sort: $sort, where: $where) {
            id
            title
            expireDate
            isPublished
          }
        }
      `,
      variables() {
        return {
          sort: "created_at:desc",
          where: {
            user: Number(this.$store.state.loggedUserId)
          }
        };
      }
    }
  },
  created() {
    if (!this.$store.getters.isUserLogged) {
      this.$store.commit("openLoginModal");
    } else {
      this.$apollo.queries.advertisements.refetch();
    }
  }
};
</script>

<style scoped>
.pubButton {
  width: 120px;
}
a {
  text-decoration: none;
}
</style>
