<template>
  <div>
    <v-card
      elevation="5"
      shaped
      class="mb-5"
      @mouseenter="handleMouseEnter"
      @mouseleave="handleMouseLeave"
    >
      <v-row dense>
        <v-col xs="3" lg="2" md="2" cols="3">
          <v-img
            class="d-flex flex-no-wrap advertisement-img ml-1 card-image"
            :width="$store.getters.isMobile ? 80 : 140"
            :height="$store.getters.isMobile ? 80 : 140"
            :src="firstPicture"
            @click="displayImages = true"
          ></v-img>
        </v-col>
        <v-col xs="9" lg="10" md="10" cols="9">
          <div class="ml-5 mt-2">
            <div class="d-flex">
              <div class="advertisementTitle">
                <router-link
                  :class="{
                    'ad-link-dark': $vuetify.theme.dark,
                    'ad-link-light': !$vuetify.theme.dark
                  }"
                  :to="{
                    name: 'Advertisement',
                    params: { id: advertisement.id }
                  }"
                >
                  {{ advertisement.title }}</router-link
                >
                <div
                  v-if="advertisement.companyName"
                  :dir="$store.getters.textDirection"
                >
                  <span class="font-weight-medium subtitle-2">
                    {{ $t("message.by") }}
                  </span>
                  <span class="caption mx-1">
                    {{ advertisement.companyName }}
                  </span>
                </div>
              </div>
              <v-spacer></v-spacer>
              <div class="mr-3 grey--text">
                <nobr>
                  <v-icon small color="teal">mdi-timer-sand</v-icon
                  >{{ advertisementExpireDate }}
                </nobr>
              </div>
            </div>

            <div>
              <span class="new-price font-weight-bold">
                {{ advertisement.newPrice }} DZD
              </span>
              <span
                class="old-price ma-2 animate__animated animate__flipInY animate__delay-1s"
              >
                <del>{{ advertisement.oldPrice }} DZD</del>
              </span>

              <span v-if="advertisement.delivery">
                <v-divider vertical class="divider"></v-divider>
                <v-icon class="mx-3">
                  mdi-truck-delivery
                </v-icon>
              </span>

              <span v-if="advertisement.codePromo">
                <v-divider vertical class="divider m-1"></v-divider>
                <CodePromo
                  v-if="!$store.getters.isMobile"
                  :codePromo="advertisement.codePromo"
                  class="mx-3"
                />
                <CodePromo
                  v-else
                  :codePromo="advertisement.codePromo"
                  class="mx-2"
                />
              </span>

              <v-btn
                v-if="
                  advertisement.advertisementLink && !$store.getters.isMobile
                "
                color="teal darken-1"
                text
                class="animate__animated animate__pulse"
                :href="advertisement.advertisementLink"
                target="_blank"
                small
              >
                {{ $t("message.seeAdvertisement") }}
                <v-icon right dark>
                  mdi-eye
                </v-icon>
              </v-btn>
            </div>
          </div>
          <div
            class="d-flex justify-end align-end"
            v-if="!$store.getters.isMobile"
          >
            <LikesDislikes
              :advertisementId="Number(advertisement.id)"
              :dislikesNumber="advertisement.dislikes"
              :likesNumber="advertisement.likes"
            />
          </div>
          <div
            v-if="displayBottomSheet"
            class="bottom-sheet animate__animated animate__fadeIn"
          >
            <div class="m-3">
              {{ $t("message.expireIn") }}
              <strong>{{ advertisementExpireDate }}</strong>
            </div>
          </div>
        </v-col>
      </v-row>
      <v-row v-if="$store.getters.isMobile" dense>
        <v-col cols="3" align-self="end">
          <LikesDislikes
            :advertisementId="Number(advertisement.id)"
            :likesNumber="advertisement.likes"
            :dislikesNumber="advertisement.dislikes"
          />
        </v-col>
        <v-col cols="9" align-self="end" class="mb-2">
          <v-btn
            v-if="advertisement.advertisementLink"
            color="teal darken-1"
            text
            class="d-flex justify-end animate__animated animate__pulse"
            :href="advertisement.advertisementLink"
            target="_blank"
            small
            block
          >
            {{ $t("message.seeAdvertisement") }}
            <v-icon right dark class="mr-2">
              mdi-eye
            </v-icon>
          </v-btn>
        </v-col>
      </v-row>
    </v-card>

    <!-- Images modal -->
    <v-dialog v-model="displayImages" width="500">
      <v-carousel hide-delimiters>
        <v-carousel-item
          v-for="(picture, i) in pictures"
          :key="i"
          :src="picture.src"
        ></v-carousel-item>
      </v-carousel>
    </v-dialog>
  </div>
</template>

<script>
import LikesDislikes from "./LikesDislikes";
import moment from "moment";
import CodePromo from "./CodePromo";
import config from "../../config.json";

export default {
  components: {
    LikesDislikes,
    CodePromo
  },
  props: {
    advertisement: Object
  },
  data: () => ({
    show: false,
    displayImages: false,
    displayBottomSheet: false
  }),
  computed: {
    advertisementExpireDate() {
      return moment(this.advertisement.expireDate).format("DD/MM/YYYY");
    },
    pictures() {
      if (this.advertisement.pictures) {
        return this.advertisement.pictures.map(picture => ({
          ...picture,
          src: `${config.apiUrl}${picture.url}`
        }));
      }
      return [];
    },
    firstPicture() {
      if (this.advertisement && this.advertisement.pictures.length > 0) {
        return this.pictures[0];
      }
      return require("@/assets/package.png");
    }
  },
  methods: {
    handleMouseEnter() {
      this.displayBottomSheet = true;
    },
    handleMouseLeave() {
      this.displayBottomSheet = false;
    }
  }
};
</script>

<style scoped>
.new-price {
  color: red;
  font-size: 20px;
}
.old-price {
  color: gray;
  font-size: 20px;
}
.divider {
  height: 20px;
  margin-top: 12px;
}
.advertisement-img {
  border-top-left-radius: 2em;
  border-top-right-radius: 2em;
  border-bottom-right-radius: 2em;
}
.advertisementTitle {
  font-weight: 500;
}
.card-image {
  cursor: pointer;
}
.ad-link-dark {
  color: whitesmoke;
  font-size: 20px;
  text-decoration: none;
}
.ad-link-dark:hover {
  color: #4db6ac;
}
.ad-link-light {
  color: black;
  font-size: 20px;
  text-decoration: none;
}
.ad-link-light:hover {
  color: #4db6ac;
}
.bottom-sheet {
  position: absolute;
  font-size: 18px;
  margin-left: auto;
  margin-right: auto;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  background-color: whitesmoke;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  width: 50%;
  align-items: center;
  color: #1f1f1f;
}
</style>
