<template>
  <div>
    <v-row v-for="index in 6" :key="index">
      <v-col>
        <v-skeleton-loader
          dark
          type="card-heading@1, list-item@2"
        ></v-skeleton-loader>
      </v-col>
    </v-row>
  </div>
</template>
