<template>
  <v-container>
    <v-app-bar fixed color="blue-grey darken-4">
      <template v-slot:img="{ props }">
        <v-img
          v-bind="props"
          gradient="to top right, rgba(19,84,122,.5), black"
        ></v-img>
      </template>

      <router-link to="/" class="logo">
        <v-app-bar-nav-icon class="bar-icon ml-2 mt-4" dark>
          <img src="@/assets/logo.png" width="50" />
          <h3 class="ml-2">DZ deals</h3>
        </v-app-bar-nav-icon>
      </router-link>

      <v-spacer></v-spacer>

      <div class="mt-4">
        <v-icon
          dark
          v-if="this.$vuetify.theme.dark"
          class="mr-3"
          @click="handleThemeChange"
        >
          mdi-brightness-5
        </v-icon>
        <v-icon dark v-else class="mr-3" @click="handleThemeChange">
          mdi-brightness-4
        </v-icon>

        <v-menu offset-y class="mr-3">
          <template v-slot:activator="{ on, attrs }">
            <v-btn dark v-bind="attrs" v-on="on" icon>
              <v-icon dark>
                mdi-translate
              </v-icon>
            </v-btn>
          </template>

          <v-list>
            <v-list-item
              v-for="(item, index) in langs"
              :key="index"
              class="lang-menu-item"
            >
              <v-list-item-title @click="item.method">{{
                item.text
              }}</v-list-item-title>
            </v-list-item>
          </v-list>
        </v-menu>

        <v-btn text icon @click="handleDrawerClick" dark>
          <v-badge color="teal" dot>
            <v-icon>mdi-menu</v-icon>
          </v-badge>
        </v-btn>
      </div>

      <template v-slot:extension>
        <v-tabs
          v-model="categoryTab"
          align-with-title
          center-active
          show-arrows
          dark
        >
          <v-tabs-slider color="teal"></v-tabs-slider>

          <v-tab
            active-class="tab-link"
            class="tab-link"
            v-for="category in categories"
            :key="category.value"
            @click="handleTabSelect(category.value)"
          >
            <v-icon :color="category.color" class="mr-1">{{
              category.icon
            }}</v-icon>
            {{ category.text }}
          </v-tab>
        </v-tabs>
      </template>
    </v-app-bar>

    <v-navigation-drawer v-model="drawer" absolute temporary>
      <v-list-item v-if="$store.getters.isUserLogged">
        <v-list-item-avatar>
          <v-icon large color="teal">mdi-account-circle</v-icon>
        </v-list-item-avatar>

        <v-list-item-content>
          <v-list-item-title>{{
            $store.state.loggedUsername
          }}</v-list-item-title>
        </v-list-item-content>
      </v-list-item>

      <v-divider></v-divider>

      <v-list dense>
        <v-list-item v-if="!$store.getters.isUserLogged">
          <v-btn
            block
            small
            elevation="2"
            @click="openLoginModal"
            color="teal"
            >{{ $t("message.login") }}</v-btn
          >
        </v-list-item>
        <v-list-item
          v-for="item in drawerItems"
          :key="item.title"
          :to="item.to"
        >
          <v-list-item-icon>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-item-icon>

          <v-list-item-content>
            <v-list-item-title>{{ item.title }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item>
          <v-btn
            block
            small
            @click="logoutUser"
            v-if="$store.getters.isUserLogged"
          >
            {{ $t("message.logout") }}
            <v-icon small class="ml-1">mdi-logout</v-icon>
          </v-btn>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
  </v-container>
</template>

<script>
export default {
  name: "AppBar",
  data() {
    return {
      drawer: false,
      categoryTab: "All"
    };
  },
  methods: {
    handleThemeChange() {
      this.$vuetify.theme.dark = !this.$vuetify.theme.dark;
      localStorage.setItem("darkTheme", this.$vuetify.theme.dark);
    },
    changeLanguage(lang) {
      this.$root.$i18n.locale = lang;
      localStorage.setItem("lang", lang);
    },
    openLoginModal() {
      this.$store.commit("openLoginModal");
    },
    logoutUser() {
      this.$store.commit("logout");
      this.drawer = false;
    },
    handleTabSelect(tab) {
      this.$router.push("/");
      this.$store.commit("setAdSelectedCategory", {
        category: tab
      });
    },
    handleDrawerClick() {
      this.drawer = true;
      window.scrollTo(0, 0);
    }
  },
  computed: {
    langs() {
      return [
        {
          text: "Français",
          method: () => this.changeLanguage("fr")
        },
        {
          text: "English",
          method: () => this.changeLanguage("en")
        },
        {
          text: "العربية",
          method: () => this.changeLanguage("ar")
        }
      ];
    },
    drawerItems() {
      return [
        {
          title: this.$t("message.homePage"),
          icon: "mdi-view-dashboard",
          to: "/"
        },
        {
          title: this.$t("message.newAdvertisement"),
          icon: "mdi-bullhorn",
          to: "/addAdvertisement"
        },
        {
          title: this.$t("message.myAdvertisements"),
          icon: "mdi-file-table-box-multiple",
          to: "/myAdvertisements"
        },
        { title: this.$t("message.about"), icon: "mdi-forum", to: "/about" }
      ];
    },
    categories() {
      return [
        {
          text: this.$t("message.new"),
          value: "all",
          icon: "mdi-fire",
          color: "#E65100"
        },
        {
          text: this.$t("message.auto"),
          value: "auto",
          icon: "mdi-car",
          color: "teal lighten-3"
        },
        {
          text: this.$t("message.cosmetics"),
          value: "cosmetics",
          icon: "mdi-lipstick",
          color: "teal lighten-3"
        },
        {
          text: this.$t("message.entertainment"),
          value: "entertainment",
          icon: "mdi-cards-playing-outline",
          color: "teal lighten-3"
        },
        {
          text: this.$t("message.fashion"),
          value: "fashion",
          icon: "mdi-tshirt-crew",
          color: "teal lighten-3"
        },
        {
          text: this.$t("message.insurance"),
          value: "insurance",
          icon: "mdi-shield-car",
          color: "teal lighten-3"
        },
        {
          text: this.$t("message.diy"),
          value: "diy",
          icon: "mdi-hammer-screwdriver",
          color: "teal lighten-3"
        },
        {
          text: this.$t("message.groceries"),
          value: "groceries",
          icon: "mdi-shopping",
          color: "teal lighten-3"
        },
        {
          text: this.$t("message.hightech"),
          value: "hightech",
          icon: "mdi-robot-vacuum",
          color: "teal lighten-3"
        },
        {
          text: this.$t("message.home"),
          value: "home",
          icon: "mdi-sofa",
          color: "teal lighten-3"
        },
        {
          text: this.$t("message.mobile"),
          value: "mobile",
          icon: "mdi-cellphone-text",
          color: "teal lighten-3"
        },
        {
          text: this.$t("message.internet"),
          value: "internet",
          icon: "mdi-router-wireless",
          color: "teal lighten-3"
        },
        {
          text: this.$t("message.services"),
          value: "services",
          icon: "mdi-room-service",
          color: "teal lighten-3"
        },
        {
          text: this.$t("message.sport"),
          value: "sport",
          icon: "mdi-basketball",
          color: "teal lighten-3"
        },
        {
          text: this.$t("message.travel"),
          value: "travel",
          icon: "mdi-airplane",
          color: "teal lighten-3"
        },
        {
          text: this.$t("message.games"),
          value: "games",
          icon: "mdi-google-controller",
          color: "teal lighten-3"
        },
        {
          text: this.$t("message.other"),
          value: "other"
        }
      ];
    }
  }
};
</script>

<style scoped>
.language-select-container {
  width: 80px;
}
.bar-icon {
  min-width: 120px;
}
.lang-menu-item {
  cursor: pointer;
}
.tab-link {
  color: whitesmoke;
  font-size: 12px;
  text-decoration: none;
}
.tab-link:hover {
  color: #4db6ac;
}
.logo {
  text-decoration: none;
}
</style>
