<template>
  <v-btn
    class="element"
    elevation="2"
    v-text="text"
    :color="buttonColor"
    @click="display"
    small
    v-if="!displayCode"
  ></v-btn>
  <span class="codePromo" v-else>{{ codePromo }}</span>
</template>

<script>
export default {
  data() {
    return {
      displayCode: false
    };
  },
  props: {
    codePromo: String
  },
  methods: {
    display() {
      this.displayCode = true;
    }
  },
  computed: {
    text() {
      return this.displayCode ? this.codePromo : this.$t("message.codePromo");
    },
    buttonColor() {
      return !this.displayCode && "teal lighten-1";
    }
  }
};
</script>

<style scoped>
.codePromo {
  text-align: center;
  color: #009688;
  font-size: 16px;
  font-weight: 500;
}
</style>
