<template>
  <v-form ref="formComment" lazy-validation>
    <div class="d-flex flex-column">
      <v-textarea
        :dir="$store.getters.textDirection"
        :hint="$t('message.itemIsRequired')"
        :label="$t('message.addComment')"
        :reverse="$root.$i18n.locale === 'ar'"
        :rules="[v => !!v || $t('message.itemIsRequired')]"
        class="mx-2"
        persistent-hint
        prepend-icon="mdi-comment"
        rows="1"
        v-model="content"
      ></v-textarea>
      <div class="text-right mr-5">
        <v-btn
          :loading="loading"
          @click="addComment"
          color="teal"
          elevation="2"
          small
          v-text="$t('message.submit')"
          width="150"
        ></v-btn>
      </div>
    </div>
  </v-form>
</template>

<script>
import gql from "graphql-tag";

export default {
  data() {
    return {
      content: "",
      loading: false
    };
  },
  props: {
    codePromo: String,
    refetchComments: Function
  },
  methods: {
    addComment() {
      if (!this.$store.getters.isUserLogged) {
        this.$store.commit("openLoginModal");
      } else {
        const isValid = this.$refs.formComment.validate();
        if (isValid) {
          this.loading = true;
          this.$apollo
            .mutate({
              mutation: gql`
                mutation($input: createCommentInput!) {
                  createComment(input: $input) {
                    comment {
                      id
                    }
                  }
                }
              `,
              // Parameters
              variables: {
                input: {
                  data: {
                    content: this.content,
                    user: Number(this.$store.state.loggedUserId),
                    advertisement: Number(this.$route.params.id)
                  }
                }
              }
            })
            .then(() => {
              this.$store.commit("notificate", {
                type: "success",
                msg: this.commentSuccessMsg
              });
              this.loading = false;
              this.content = " ";
              this.refetchComments();
            })
            .catch(error => {
              console.log(error);
              this.$store.commit("notificate", {
                type: "error",
                msg: this.somethingWentWrongMsg
              });
              this.loading = false;
            });
        }
      }
    }
  },
  computed: {
    commentSuccessMsg() {
      return this.$t("message.commentSuccessMsg");
    },
    somethingWentWrongMsg() {
      return this.$t("message.somethingWentWrong");
    }
  }
};
</script>

<style scoped></style>
