<template>
  <div>
    <div class="d-flex align-center">
      <v-avatar size="30px" :color="generateRandomColor()">
        <span class="white--text headline">{{ userInitials }}</span>
      </v-avatar>
      <v-chip class="ma-2">
        {{ comment.content }}
      </v-chip>
    </div>
    <div class="grey--text created-date">{{ commentCreatedDate }}</div>
  </div>
</template>

<script>
import moment from "moment";

export default {
  data() {
    return {};
  },
  props: {
    comment: Object
  },
  methods: {
    generateRandomColor() {
      return "#" + (((1 << 24) * Math.random()) | 0).toString(16);
    }
  },
  computed: {
    userInitials() {
      return this.comment.user.username[0];
    },
    commentCreatedDate() {
      return moment(this.comment.created_at).format("DD/MM/YYYY");
    }
  }
};
</script>

<style scoped>
.created-date {
  font-size: 10px;
  margin-left: 30px;
}
</style>
