<template>
  <v-container>
    <div v-for="comment in comments" :key="comment.id">
      <Comment :comment="comment" />
    </div>
    <v-divider class="mt-5"></v-divider>
    <CommentForm :refetchComments="refetchComments" class="mt-4" />
  </v-container>
</template>

<script>
import CommentForm from "./CommentForm";
import Comment from "./Comment";
import gql from "graphql-tag";

export default {
  components: {
    CommentForm,
    Comment
  },
  props: {
    advertisementId: Number
  },
  methods: {
    refetchComments() {
      return this.$apollo.queries.comments.refetch();
    }
  },
  apollo: {
    comments: {
      query: gql`
        query comments($sort: String!, $where: JSON) {
          comments(sort: $sort, where: $where) {
            id
            created_at
            content
            likes
            dislikes
            user {
              username
            }
          }
        }
      `,
      variables() {
        return {
          sort: "created_at:desc",
          where: {
            advertisement: this.advertisementId
          }
        };
      }
    }
  },
  created() {
    this.$apollo.queries.comments.refetch();
  }
};
</script>

<style scoped></style>
