<template>
  <div class="d-flex align-center align-self-center ml-2 mb-2">
    <span class="align-center mr-3">
      <v-btn text icon @click="handleAdLikesAndDislikes('likes')">
        <span class="grey--text mr-1">
          {{ likesNumber }}
        </span>
        <v-icon color="teal darken-3" dense>
          mdi-thumb-up
        </v-icon>
      </v-btn>
    </span>

    <span class="mr-3 align-center">
      <v-btn text icon @click="handleAdLikesAndDislikes('dislikes')">
        <v-icon dense>
          mdi-thumb-down
        </v-icon>
        <span class="grey--text ml-1">
          {{ dislikesNumber }}
        </span>
      </v-btn>
    </span>
  </div>
</template>

<script>
import gql from "graphql-tag";

export default {
  props: {
    dislikesNumber: Number,
    likesNumber: Number,
    advertisementId: Number
  },
  methods: {
    handleAdLikesAndDislikes(likeType) {
      if (!this.$store.getters.isUserLogged) {
        this.$store.commit("openLoginModal");
      } else {
        const likeValue =
          likeType === "likes" ? this.likesNumber + 1 : this.dislikesNumber + 1;
        this.$apollo
          .mutate({
            mutation: gql`
              mutation($input: updateAdvertisementInput!) {
                updateAdvertisement(input: $input) {
                  advertisement {
                    id
                    likes
                    dislikes
                  }
                }
              }
            `,
            // Parameters
            variables: {
              input: {
                where: {
                  id: this.advertisementId
                },
                data: {
                  [likeType]: likeValue
                }
              }
            }
          })
          .then(() => {
            this.loading = false;
          })
          .catch(error => {
            console.log(error);
          });
      }
    }
  }
};
</script>
