<template>
  <v-row justify="center">
    <v-dialog
      v-model="$store.state.loginModal"
      persistent
      max-width="800px"
      transition="dialog-bottom-transition"
    >
      <v-card :loading="loading">
        <v-card-text>
          <v-container>
            <v-form ref="formLogin" lazy-validation>
              <v-row>
                <v-col>
                  <h2
                    class="text-weight-bold mt-8"
                    :dir="$store.getters.textDirection"
                  >
                    {{ $t("message.login") }}
                  </h2>
                </v-col>
              </v-row>
              <v-row>
                <v-col cols="12" md="6">
                  <v-text-field
                    :counter="50"
                    v-model="identifier"
                    :label="$t('message.email')"
                    :reverse="$root.$i18n.locale === 'ar'"
                    append-icon="mdi-email-outline"
                    :rules="[
                      v => !!v || $t('message.itemIsRequired'),
                      v => /.+@.+/.test(v) || $t('message.emailMustBeValid'),
                      v => v.length <= 50 || $t('message.textExceededLength')
                    ]"
                    @focus="hideIncorrectCredentialsMsg"
                    required
                  ></v-text-field>
                </v-col>
                <v-col cols="12" md="6">
                  <v-text-field
                    :counter="50"
                    v-model="password"
                    :label="$t('message.password')"
                    :reverse="$root.$i18n.locale === 'ar'"
                    append-icon="mdi-lock-outline"
                    type="password"
                    :rules="[
                      v => !!v || $t('message.itemIsRequired'),
                      v => v.length <= 50 || $t('message.textExceededLength')
                    ]"
                    required
                    @focus="hideIncorrectCredentialsMsg"
                  ></v-text-field>
                </v-col>
              </v-row>

              <v-row v-if="incorrectCredentials">
                <v-col class="text-center incorrectCredentialsMsg">
                  <h3>{{ $t("message.incorrectCredentials") }}</h3>
                </v-col>
              </v-row>
              <v-row>
                <v-col class="text-center">
                  <v-btn color="primary" width="200" @click="login">
                    <v-icon class="mr-1">mdi-login</v-icon>
                    {{ $t("message.login") }}
                  </v-btn>
                </v-col>
              </v-row>
              <v-row>
                <v-col class="text-center">
                  <v-btn
                    color="secondary"
                    width="200"
                    @click="redirectToCreateAccountPage"
                  >
                    <v-icon class="mr-1">mdi-account-plus-outline</v-icon>
                    {{ $t("message.createAccount") }}
                  </v-btn>
                </v-col>
              </v-row>
            </v-form>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="closeLoginModal">
            {{ $t("message.close") }}
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<script>
import config from "../../config.json";

export default {
  data() {
    return {
      identifier: "",
      password: "",
      loading: false,
      incorrectCredentials: false
    };
  },
  methods: {
    closeLoginModal() {
      this.$store.commit("closeLoginModal");
    },
    redirectToCreateAccountPage() {
      this.$router.push("/CreateAccount");
      this.$store.commit("closeLoginModal");
    },
    hideIncorrectCredentialsMsg() {
      this.incorrectCredentials = false;
    },
    login() {
      const isValidate = this.$refs.formLogin.validate();
      if (isValidate) {
        this.loading = true;
        return fetch(`${config.apiUrl}/auth/local`, {
          method: "POST",
          headers: {
            Accept: "application/json",
            "Content-Type": "application/json"
          },
          body: JSON.stringify({
            identifier: this.identifier,
            password: this.password
          })
        })
          .then(async response => {
            // Handle success.
            const data = await response.json();
            if (data.error) {
              this.incorrectCredentials = true;
            } else {
              this.$store.commit("login", {
                loggedUsername: data.user.username,
                loggedUserId: data.user.id,
                loggedUserJwt: data.jwt
              });
              this.$store.commit("closeLoginModal");
              this.$router.push("/");
            }
            this.loading = false;
          })
          .catch(error => {
            // Handle error.
            this.$store.commit("notificate", {
              type: "error",
              msg: this.errorMsg
            });
            this.loading = false;
            console.log("An error occurred:", error.response);
          });
      }
    }
  }
};
</script>

<style scoped>
.incorrectCredentialsMsg {
  color: red;
}
</style>
