<template>
  <div class="d-flex flex-column justify-center align-center ">
    <img width="150" src="@/assets/no-content.png" alt="logo" />
    <h2 class="grey--text">{{ $t("message.noDeals") }}</h2>
  </div>
</template>

<style scoped>
.incorrectCredentialsMsg {
  color: red;
}
</style>
