<template>
  <v-snackbar
    v-model="$store.state.successNotification"
    color="success"
    :dir="$store.getters.textDirection"
    shaped
  >
    <v-icon>mdi-check</v-icon>
    {{ $store.state.notificationMsg }}

    <template v-slot:action="{ attrs }">
      <v-btn color="green" text v-bind="attrs" @click="closeNotificatio">
        {{ $t("message.close") }}
      </v-btn>
    </template>
  </v-snackbar>
</template>

<script>
import { mapMutations } from "vuex";

export default {
  methods: {
    ...mapMutations(["closeNotificatio"])
  }
};
</script>
