<template>
  <v-app>
    <AppBar />
    <v-container>
      <v-main>
        <div style="height: 100px;" />
        <v-row justify="center">
          <v-col sm="12" md="10" lg="10" xl="6">
            <router-view></router-view>
          </v-col>
        </v-row>
      </v-main>
    </v-container>
    <div style="height: 200px" />
    <SuccessNotification />
    <ErrorNotification />
    <LoginModal />
    <Footer />
  </v-app>
</template>

<script>
import Footer from "./components/Footer";
import AppBar from "./components/AppBar";
import ErrorNotification from "./components/ErrorNotification";
import SuccessNotification from "./components/SuccessNotification";
import LoginModal from "./components//LoginModal";

export default {
  name: "App",

  components: {
    AppBar,
    Footer,
    SuccessNotification,
    ErrorNotification,
    LoginModal
  },

  beforeCreate() {
    const storedLang = localStorage.getItem("lang");
    if (storedLang) {
      this.$root.$i18n.locale = storedLang;
    }

    const isDarkTheme = window.localStorage.getItem("darkTheme");
    if (isDarkTheme === null) {
      this.$vuetify.theme.dark = true; // Dark theme by default
    } else {
      this.$vuetify.theme.dark = isDarkTheme === "true";
    }
  },

  computed: {
    scrollbarTheme() {
      return this.$vuetify.theme.dark ? "dark" : "light";
    }
  }
};
</script>

<style>
body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background: #263238;
}

body::-webkit-scrollbar-thumb {
  background-color: #006064; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
}

.light::-webkit-scrollbar {
  width: 15px;
}

.light::-webkit-scrollbar-track {
  background: #e6e6e6;
  border-left: 1px solid #dadada;
}

.light::-webkit-scrollbar-thumb {
  background: #b0b0b0;
  border: solid 3px #e6e6e6;
  border-radius: 7px;
}

.light::-webkit-scrollbar-thumb:hover {
  background: black;
}

.dark::-webkit-scrollbar {
  width: 15px;
}

.dark::-webkit-scrollbar-track {
  background: #202020;
  border-left: 1px solid #2c2c2c;
}

.dark::-webkit-scrollabar-thumb {
  background: #3e3e3e;
  border: solid 3px #202020;
  border-radius: 7px;
}

.dark::-webkit-scrollbar-thumb:hover {
  background: white;
}
</style>
